<% if resources.blank? %>
  <%= render "empty_queue", queue_type: queue_type  %>
<% else %>
  <div>
    <h3>Pivotal Tracker Stories (<%= resources.size %>): </h3>
    <table class="table">
      <thead>
        <tr class="table__row table__row--head">
          <th>Number</th>
          <th>Title</th>
          <th>State</th>
          <th>Created</th>
        </tr>
      </thead>
      <% resources.each do | story | %>
        <tr class="table__row">
          <td><%= story.story_number %></td>
          <td>
            <%= link_to story.project_name, story.project_link, target: :_blank, class: "project_name" %><br/>
            <%= link_to story.name, story.story_link, target: :_blank %>
          </td>
          <td><%= story.state %></td>
          <td><%= created_at(story) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
