<div class="container">
  <div class="menu">
    <%= link_to "Sync Pull Requests", todos_update_pull_requests_path, method: :patch, class: "button" %>
    <%= link_to "Sync Issues", todos_update_issues_path, method: :patch, class: "button" %>
    <%= link_to "Sync Pivotal Stories", todos_update_pivotal_path, method: :patch, class: "button" %>
    <%= link_to "Edit Pivotal Token", edit_pivotal_path(current_user), class: "button" %>
  </div>

<<<<<<< HEAD
  <%= render "github_resource", resources: @my_pulls, queue_type: :pull_requests %>
=======
  <% if [@my_pulls, @my_issues, @my_pivotal_stories, @owned_pulls ].any?(&:present?) %>
    <div>
      <h3>Pull Requests: </h3>
      <h4> (<%= @my_pulls.size %>) Review Requested or Assigned to me: </h4>
      <table class="table">
        <thead>
          <tr class="table__row table__row--head">
            <th>Number</th>
            <th>Title</th>
            <th>State</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
        <% @my_pulls.each do | pull | %>
          <tr class="table__row">
            <td><%= pull.pull_request_number %></td>
            <td>
              <%= link_to pull.repository_name, pull.repository_link, target: :_blank, class: "project_name"%><br/>
              <%= link_to pull.title, pull.pull_request_link, target: :_blank %>
            </td>
            <td><%= pull.state %></td>
            <td><%= created_at(pull) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
>>>>>>> ad80a8a... Add tests, and update tests for owned PR's

  <%= render "github_resource", resources: @my_issues, queue_type: :issues %>
  
  <%= render "github_resource", resources: @owned_pulls, queue_type: :issues %>

  <%= render "pivotal_stories", resources: @my_pivotal_stories, queue_type: :pivotal %>
</div>
