<div class="container">
  <div class="menu">
    <%= link_to "Sync Pull Requests", todos_update_pull_requests_path, method: :patch, class: "button" %>
    <%= link_to "Sync Issues", todos_update_issues_path, method: :patch, class: "button" %>
    <%= link_to "Sync Pivotal Stories", todos_update_pivotal_path, method: :patch, class: "button" %>
    <%= link_to "Edit Pivotal Token", edit_pivotal_path(current_user), class: "button" %>
  </div>

  <%= render @my_pulls.present? ? "pull_requests" : "empty_queue", queue_type: :pull_requests %>

  <%= render @my_issues.present? ? "issues" : "empty_queue", queue_type: :issues %>

  <%= render @my_pivotal_stories.present? ? "pivotal_stories" : "empty_queue", queue_type: :pivotal %>
</div>
