<div class="container">
  <div class="menu">
    <%= link_to "Sync Pull Requests", todos_update_pull_requests_path, method: :patch, class: "button" %>
    <%= link_to "Sync Issues", todos_update_issues_path, method: :patch, class: "button" %>
    <%= link_to "Sync Pivotal Stories", todos_update_pivotal_path, method: :patch, class: "button" %>
    <%= link_to "Edit Pivotal Token", edit_pivotal_path(current_user), class: "button" %>
  </div>

  <% if [@my_pulls, @my_issues, @my_pivotal_stories].any?(&:present?) %>
    <div>
      <h3>Pull Requests (<%= @my_pulls.size %>): </h3>
      <table class="table">
        <thead>
          <tr class="table__row table__row--head">
            <th>Number</th>
            <th>Title</th>
            <th>State</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
        <% @my_pulls.each do | pull | %>
          <tr class="table__row">
            <td><%= pull.pull_request_number %></td>
            <td>
              <%= link_to pull.repository_name, pull.repository_link, target: :_blank, class: "project_name"%><br/>
              <%= link_to pull.title, pull.pull_request_link, target: :_blank %>
            </td>
            <td><%= pull.state %></td>
            <td><%= created_at(pull) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h3>Issues (<%= @my_issues.size %>): </h3>
      <table class="table">
        <thead>
          <tr class="table__row table__row--head">
            <th>Number</th>
            <th>Title</th>
            <th>State</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
        <% @my_issues.each do | issue | %>
          <tr class="table__row">
            <td><%= issue.issue_number %></td>
            <td>
              <%= link_to issue.repository_name, issue.repository_link, target: :_blank, class: "project_name" %><br/>
              <%= link_to issue.title, issue.issue_link, target: :_blank %>
            </td>
            <td><%= issue.state %></td>
            <td><%= created_at(issue) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div>
      <h3>Pivotal Tracker Stories (<%= @my_pivotal_stories.size %>): </h3>
      <table class="table">
        <thead>
          <tr class="table__row table__row--head">
            <th>Number</th>
            <th>Title</th>
            <th>State</th>
            <th>Created</th>
          </tr>
        </thead>
        <% @my_pivotal_stories.each do | story | %>
          <tr class="table__row">
            <td><%= story.story_number %></td>
            <td>
              <%= link_to story.project_name, story.project_link, target: :_blank, class: "project_name" %><br/>
              <%= link_to story.name, story.story_link, target: :_blank %>
            </td>
            <td><%= story.state %></td>
            <td><%= created_at(story) %></td>
          </tr>
        <% end %>
      </table>
    </div>


    <% else %>
      <p> You don't have any todos at the moment. </p>
    <% end %>
</div>
