<div class="container">
  <div class="menu">
    <%= link_to "Sync Pull Requests", todos_update_pull_requests_path, method: :patch, class: "button" %>
    <%= link_to "Sync Issues", todos_update_issues_path, method: :patch, class: "button" %>
    <%= link_to "Sync Pivotal Stories", todos_update_pivotal_path, method: :patch, class: "button" %>
  </div>

  <%= render "github_resource", resources: @my_pulls, queue_type: :pull_requests %>

  <%= render "github_resource", resources: @my_issues, queue_type: :issues %>

  <%= render "pivotal_stories", resources: @my_pivotal_stories, queue_type: :pivotal %>
</div>
